body {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.background {
    background-color: aquamarine;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.body-background {
    background-color: burlywood;
}