body {
    font-family: sans-serif;
    background-color: blanchedalmond;
}

h1, h2 {
    text-align: center;
}

.background {
    background-color: aquamarine;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#Header1 {
    background-color: burlywood;
}